Project-X: #{@url}
===============================================

Hello #{@course.owner.first_name} #{@course.owner.last_name},
your course: #{course_url @course.id} was successfully approved by our admins.

Thanks for your publication and have a great day!