%h2
  #{link_to 'Project-X', @url}
%p
  Hello #{@course.owner.first_name} #{@course.owner.last_name},
  your course: #{link_to @course.title, @course} was successfully approved by our admins.
%p Thanks for your publication and have a great day!