%div.row
  %div.col-md-4
    %p
      - if @course.logo.attached?
        = image_tag @course.logo
      - else
        Course logo here:
  %div.col-md-8
    %h2 
      = @course.title
    %h5 
      = @course.description
    %h5 
      = @course.url
  %div.col-md-12.text-center
    %hr
    %h2 
      Comments