%div.row
  %div.col-md-4
    %p
      - present @course do |course_presenter|
        = image_tag course_presenter.logo, size: '240x200'
  %div.col-md-8
    %h2 
      = @course.title
    %h5 
      = @course.description
    %h5 
      = @course.url
  %div.col-md-12.text-center
    %hr
    %h2 
      Comments